.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-left {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-left-data {
  display: flex;
  flex-direction: row;
}

.App-left-data > div {
  width: auto;
  margin-right: 20px;
}

.labelStyle {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(10px + 1vmin);
}

textarea {
  height: 50vh;
  width: auto;
}

input:not(textarea) {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
}

#chart {
  background-color: white;
}

.btn {
  margin: 20px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.result {
  width: 300px;
}